<p class="body_header"><%= t("title",:scope => "open_orders.index") %></p>
<%= image_seperator %>
<p><%= t("_desc",:scope => "open_orders.index").html_safe %></p>
<%= image_seperator %>
<!-- Beginning of open order search from -->
<%= form_tag search_open_orders_path, :method => 'post', class: "form-horizontal" do %>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <label class="control-label">&nbsp;</label>
        <%= select_tag :search_by, options_for_select(@search_by_values, :selected => params[:search_by]),class: "form-control"  %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <label class="control-label">&nbsp;</label>
        <%= text_field_tag :search_for, params[:search_for].try(:strip).try(:upcase), class: "form-control" %>
      </div>
      <div class="col-sm-3 col-xs-12">
        <label class="control-label"><%= t("invoice_range",:scope => "open_orders.index").html_safe %></label>
        <%= select_tag :start_date, options_for_select(@days_format, :selected => params[:start_date] || "60"),class: "form-control" %>
      </div>
      <div class="col-sm-2">
        <label class="control-label">&nbsp;</label>
        <%= submit_tag t("search",:scope => "open_orders.index"), class: "btn btn-primary form-control" %>
      </div>
    </div>
<% end %>
<!-- End of open order search from -->
<%= image_seperator %>
<br/>
<!-- Displaying flash messages -->
<p class="text_alert">
  <%= flash[:alert] %>
</p>
<!-- Checking whether rbo response is present, if success then render results page-->
<% if @response_orders || @response_send_open_orders %>
    <%= render 'open_order' %>
<%end%>

