<tr class="<%= 'extra_order_tr' %>">
  <td align="left" style="text-align:left">
    <%= hidden_field_tag "part_number[]", @kit_component %>
    <%= @kit_component %>
  </td>
  <td>
    <%= text_field_tag "AgustaOrderQtyReadOnly[]", nil, :class => 'form-control', :value => "0", :readonly => true %>
  </td>
  <td>
    <%= text_field_tag "AgustaOrderQty[]", nil, :class => 'agustaOrderQty form-control', :value => "0" %>
  </td>
  <td>
    <%= select_tag "motive[]", options_for_select([["#{t 'agusta.select'}",{:title=>"#{t 'agusta.select'}"}], ["#{t 'agusta.job_card_shortage'}",{:title=>"#{t 'agusta.job_card_shortage'}"}], ["#{t 'agusta.missing_part'}",{:title=>"#{t 'agusta.missing_part'}"}], ["#{ t 'agusta.alternative_for_job_card' }",{:title=>"#{ t 'agusta.alternative_for_job_card' }"}], ["#{t 'agusta.length'}",{:title=>"#{t 'agusta.length'}"}], ["#{t 'agusta.lost_or_damaged'}",{:title=>"#{t 'agusta.lost_or_damaged'}"}], ["#{t 'agusta.added_after_bom_issued'}",{:title=>"#{t 'agusta.added_after_bom_issued'}"}], ["#{t 'agusta.experimental_unplanned_requirement'}",{:title=>"#{t 'agusta.experimental_unplanned_requirement'}"}], ["#{t 'agusta.rework_not_planned'}",{:title=>"#{t 'agusta.rework_not_planned'}"}], ["#{t 'agusta.installation_from_off_site'}",{:title=>"#{t 'agusta.installation_from_off_site'}"}], ["#{t 'agusta.aw_subcontractor'}",{:title=>"#{t 'agusta.aw_subcontractor'}"}], ["#{t 'agusta.ag_other'}",{:title=>"#{t 'agusta.ag_other'}"}]], "#{t 'agusta.select'}"), :class => "select_motive form-control",:style =>"width: 100%" %>
    <%#= select_tag "motive[]", options_for_select(["#{t 'agusta.select'}", "#{t 'agusta.job_card_shortage'}", "#{t 'agusta.missing_part'}", "#{ t 'agusta.alternative_for_job_card' }", "#{t 'agusta.length'}", "#{t 'agusta.lost_or_damaged'}", "#{t 'agusta.added_after_bom_issued'}", "#{t 'agusta.experimental_unplanned_requirement'}", "#{t 'agusta.rework_not_planned'}", "#{t 'agusta.installation_from_off_site'}", "#{t 'agusta.aw_subcontractor'}", "#{t 'agusta.ag_other'}"], "#{t 'agusta.select'}"), :class => "select_motive input-medium" %>
  </td>
  <td>
    <%= text_field_tag "PartComment[]", nil, :class => 'PartNo form-control agustaPart', :size => 10 %>
  </td>
  <td>
    <span class="btn btn-default delete_part"><span class="glyphicon glyphicon-remove"></span></span>
    <%#= image_tag("cross.gif", :id => "delete_part") %>
  </td>
</tr>