<p class="body_header"><%= t('delivery_File_details',:scope => "file_transfer._delivery_file_list") %> - <%= t('part_no',:scope => "file_transfer._pick_file_list") %> : <i><b> <%= params[:grid_key] %></b></i></p>
<%= image_seperator %>
<p><%= link_to  t('back_to_delivery_file',:scope => "file_transfer._delivery_file_list"), 'javascript:history.back();' %></p>
<% if delivery_file_details.size > 0 %>
    <b><th><%= t('delivery_file',:scope => "file_transfer.index") %></th></b>  <%= t('for',:scope => "file_transfer.index") %>  - <i><b>MESA</b></i> <%= t('with_part_no',:scope => "file_transfer._pick_list") %> : <b><%= params[:grid_key] %></b>
    <div class="text-right"><small class="text-left"><em> <%= page_entries_info(delivery_file_details).gsub('hashes','rows').gsub('hash','row').html_safe %></em></small></div>
    <div style="width: 100% ;overflow-x: auto">
      <div class="table-responsive">
        <table style="" class="table tablesorter center-align">
          <thead>
          <th><%= t('part_no',:scope => "file_transfer._pick_file_list") %></th>
          <th><%= t('part_type',:scope => "file_transfer._delivery_file_list") %></th>
          <th><%= t('tray_type',:scope => "file_transfer._delivery_file_list") %></th>
          <th><%= t('qty',:scope => "file_transfer._pick_file_list") %></th>
          <th><%= t('uom',:scope => "file_transfer._pick_file_list") %></th>
          <th><%= t('to_stockroom',:scope => "file_transfer._delivery_file_list") %></th>
          <th><%= t('bin_line_station',:scope => "file_transfer._delivery_file_list") %></th>
          <th><%= t('order_no',:scope => "file_transfer._pick_file_list") %></th>
          <th><%= t('invoice_no',:scope => "file_transfer._delivery_file_list") %></th>
          <th><%= t('delivery_date',:scope => "file_transfer._delivery_file_list") %></th>
          <th><%= t('order_date',:scope => "file_transfer._delivery_file_list") %></th>
          <th><%= t('business_unit',:scope => "file_transfer._pick_file_list") %></th>
          <th><%= t('activity_id',:scope => "file_transfer._pick_list") %></th>
          <th><%= t('date_time_stamp',:scope => "file_transfer._pick_list") %></th>
          <th><%= t('file_name',:scope => "file_transfer._pick_file_list") %></th>
          </thead>
          <% delivery_file_details.each do |file| %>
              <tr onclick="location.href='<%= file_transfer_status_path(act: 'D',grid_key: file['filename'])%>'" title="Click on Heading to Sort or
    Click on Row to View ALL Delivery List Parts for DELIVERY FILE">
                <td><%= file['part_no'] %></td>
                <td><%= file['part_type'] %></td>
                <td><%= file['tran_type'] %></td>
                <td><%= file['qty'] %></td>
                <td><%= file['uom'] %></td>
                <td><%= file['to_stockroom'] %></td>
                <td><%= file['bin_line_station'] %></td>
                <td><%= file['order_no'] %></td>
                <td><%= file['invoice_no'] %></td>
                <td><%= FileTransferStatus.get_yyyy_mm_dd_h_m_s_format file['delivery_date'] %></td>
                <td><%= FileTransferStatus.get_yyyy_mm_dd_h_m_s_format file['order_date'] %></td>
                <td><%= file['business_unit'] %></td>
                <td><%= file['activity_id'] %></td>
                <td><%= FileTransferStatus.get_yyyy_mm_dd_h_m_s_format file['date_time_stamp'] %></td>
                <td><%= file['filename'] %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
    <%= will_paginate delivery_file_details  %>
<% else %>
    <div class="text-danger"><%= flash[:alert] =  t('no_delivery_file',:scope => "file_transfer.index")  %> </div>
<% end %>





















