<h3>KIT ACTION REQUEST</h3>
<table border="0" cellspacing="4">
  <tr>
    <td>Kit: </td>
    <td><strong><%= @kit.kit_number %></strong></td>
  </tr>
  <tr>
    <td>Description: </td>
    <td><strong><%= @kit.description %></strong></td>
  </tr>
  <tr>
    <td>Submitted On: </td>
    <td><strong><%= (Date.today).strftime('%-m/%-d/%y') %></strong></td>
  </tr>
  <tr>
    <td>Originator: </td>
    <td><strong><%= session[:user_name] %></strong></td>
  </tr>
  <tr>
    <td>Kit Status: </td>
    <td><strong><%= "Pending" %></strong></td>
  </tr>
  <tr>
    <td>Line Station / Location: </td>
    <td><strong><%= @kit.bincenter %></strong></td>
  </tr>
  <tr>
    <td>Kit Update Note: </td>
    <td><strong><%= @kit.notes.present? ? @kit.notes.split("<br/>").join(",") : "--"%></strong></td>
  </tr>
</table>
<br />

<table border="0" cellspacing="4">
  <thead>
  <th>TRAY/CUP</th>
  <th>PART NUMBER</th>
  <th>QUANTITY</th>
  <th>UOM</th>
  </thead>
  <% @kit_details[:misc].each_index do |index| %>
      <tr>
        <td><%= @kit_details[:misc][index].split("-").last %></td>
        <td><%= @kit_details[:parts][index] %></td>
        <td><%= @kit_details[:quantity][index] %></td>
        <td><%= @kit_details[:uom][index]%></td>
      </tr>
  <% end %>
</table>
