<h2 class="body_header">Kit Copy</h2>
<%= image_seperator %>
<% unless flash[:notice].blank? %>
    <%= flash[:notice] %>
<% end %>
<% if @copy_status == 6 %>
    <div class="show_inactive_message">
      <p>
        Kit has been Deactivated by <%= @updated_by rescue "" %> on <%= @updated_at.strftime('%m-%d-%Y') rescue "" %>.  No Further processing allowed
      </p>
    </div>
<% end %>
<br/>
<% if  check_status?(@copy_status) %>
    <p class="text-right">
      <%= link_to 'Edit RFID', '#' , :id => 'manage_rfid' %>
    </p>
<% end %>

<p class="body_text_subhead">Kit Copy Information</p>

<div class="row">
  <label class="col-sm-3">Kit Copy Number</label>
  <div class="col-sm-3"><%= @kit_copy.kit_version_number %></div>
  <label class="col-sm-2">RFID Serial Number:</label>
  <div class="col-sm-3">
    <% if @kit_copy.rfid_number.blank? %>
        <%= "N/A" %>
    <% else %>
        <%= @kit_copy.rfid_number %>
    <% end %>
  </div>
</div>
<div class="row">
  <label class="col-sm-3">Kit Media Type: </label>
  <div class="col-sm-9"><%= @kit.try(:kit_media_type).try(:name).try(:upcase) %></div>
</div>

<div class="row">
  <label class="col-sm-3">Queue: </label>
  <div class="col-sm-9"><%= @kit_copy.try(:location).try(:name)%></div>
</div>

<div class="row">
  <label class="col-sm-3">Kit Bin Center: </label>
  <div class="col-sm-9"><%= @kit.try(:bincenter) %></div>
</div>
<div class="row">
  <label class="col-sm-3">Part Bin Center: </label>
  <div class="col-sm-9"><%= @kit_copy.try(:kit).try(:part_bincenter)%></div>
</div>
<div class="row">
  <label class="col-sm-3">Status </label>
  <div class="col-sm-9"><%= display_status @kit_copy.try(:status) %></div>
</div>
<div class="row">
  <label class="col-sm-3">Description </label>
  <div class="col-sm-9"><%=  @kit.try(:description)%></div>
</div>
<%= image_seperator %>
<div class="row">
  <div class="col-sm-10">
  </div>
</div>
<div class="row">
  <label class="col-sm-3">Note </label>
  <% if @parent_kit_copy %>
      <div class="col-sm-9"><%= @parent_kit_copy.kit.notes.html_safe %> </div>
  <% else %>
      <div class="col-sm-9"><%= @kit.notes.html_safe if @kit.notes.present? %> </div>
  <% end %>
</div>
<%= image_seperator %>

<% if @multi_media_kits %>
    <p class="text-primary"><strong class="text-info"> Kit Media Types</strong> </p>
    <div class="row">
      <div class="col-md-12">
        <div class="panel mmty-panel">
          <div class="panel-heading mmty-heading">
            <ul class="nav mmty-nav-tab nav-tabs">
              <% box_number = "" %>
              <% @multi_media_kits.each_with_index do |mmt_kit, index| %>
                  <li class="<%= @kit.id == mmt_kit.id  ? 'active' : '' %>">
                    <%= link_to mmt_kit.kit_media_type.name, kit_copy_path(mmt_kit_id: mmt_kit.id) %>
                    <% if @kit.id == mmt_kit.id %>
                        <% box_number = index +1  %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row search-panel">
      <div class="col-sm-6" style="padding: 10px 25px; color: #ffffff">Box <span><%= box_number %></span> of <%= @multi_media_kits.size %></div>
      <div class="col-sm-6"></div>
    </div>
<% end %>
<%= form_tag print_label_kit_copies_path(:id=>@kit_copy.id), :target =>'_blank' do  %>
    <% if @kit.kit_media_type.kit_type == "binder" %>
        <table class="table table-bordered">
          <thead>
          <p class="body_text_subhead">Kit Parts</p>
          <th></th>
          <th>Sleeves</th>
          <th>Part Number</th>
          <th>Quantity</th>
          </thead>
          <tbody>
          <% @row_count = 0 %>
          <% @kit.cups.where(:commit_status => true,:status => true).order(:cup_number).each_with_index do |cup,cup_index|  %>
              <% unless cup.parts.blank?  %>
                  <% cup.cup_parts.where(:commit_status => true,:status => true).each_index do |index| %>
                      <% @row_count = @row_count + 1 %>
                      <tr>
                        <td width=20px>
                          <% checkbox_flag = session[:copy_cup_ids].include?(cup.id) if session[:copy_cup_ids].present? %>
                          <%= check_box_tag 'cup_ids[]',cup.id,checkbox_flag,{:class => "copy_selected_cup_ids"}  %>
                        </td>
                        <td width=150px>
                          <%= text_field_tag "kit_tray[]", cup.cup_number, :class =>'kit_tray input-sm', :disabled => true %>
                        </td>
                        <td><%= cup.parts[0].part_number %> </td>
                        <td><%= cup.cup_parts[0].demand_quantity %> </td>
                      </tr>
                  <% end %>
              <% end %>
          <% end %>
          </tbody>
        </table>
    <% else %>

        <%if  @kit.kit_media_type.kit_type == "configurable" %>
            <!--<div class="config_mmt_kit_type">-->
            <%= @kit.kit_media_type.name != "Small Configurable TB" ? "<div class='gridster_container'>".html_safe : "<div class='gridster small_orange_kit' style='position:relative;'>".html_safe %>
            <% display_kit = create_group @kit.cups.where('commit_status = ? and status = ?', true,true).sort_by {|cup| cup.cup_number.to_i }, @kit.kit_media_type.name %>
            <% display_kit.each_with_index do |group,index| %>
                <div <%= add_class_and_id_to_gridster(@kit.kit_media_type.name,index) %>>
                  <ul>
                    <% group.each_with_index do |cup,index| %>
                        <% cup_dimension = cup.cup_dimension.split(",") %>
                        <li rel="<%= (cup.ref1 || cup.ref2 || cup.ref3)? "tooltip" : ""  %>" title='<%= cup.ref1+', ' if cup.ref1 %> <%= cup.ref2+', ' if cup.ref2 %> <%= cup.ref3 if cup.ref3 %>'
                            <%= (!cup.parts.first.nil? && !cup.check_in_contract_status("cup_parts")) ? "class='gs-w non-contract-cup'".html_safe : "class='gs-w'".html_safe %> id=<%= cup.id %> data-row=<%= cup_dimension[1].to_s %> data-col=<%= cup_dimension[0].to_s %> data-sizex=<%= cup_dimension[2].to_s %> data-sizey=<%= cup_dimension[3].to_s %> data-group=<%= cup_dimension[4].to_s %>>
                          <span class="box-no"><%= cup.cup_number %></span>
                          <div class="block_area">
                            <%= raw get_configurable_part_with_qty(cup).join('') %>
                          </div>
                          <% if cup.cup_parts.where(:commit_status => true, :status => true ).size > 0 && (!cup.parts.first.nil? && cup.check_in_contract_status("cup_parts")) %>
                              <% checkbox_flag = session[:copy_cup_ids].include?(cup.id) if session[:copy_cup_ids].present? %>
                              <span><%= check_box_tag 'cup_ids[]', cup.id, checkbox_flag, {:class => "copy_selected_cup_ids"} %></span>
                          <% end %>
                        </li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            </div>
            <%= display_kit_handle(@kit.kit_media_type.name) %>
        <% else %>
            <% @cups = get_cups_layout @kit.cups.where(:commit_status => true), @kit.kit_media_type.compartment_layout %>
            <% index = 0%>
            <% @cups.each_with_index do |row, row_index| %>
                <div class="cup_table">
                  <table class="thumbnails cups">
                    <tr>
                      <% row.each_with_index do |value, col_index| %>
                          <td>
                            <div <%= (!value.parts.first.nil? && !value.check_in_contract_status("cup_parts")) ? "class='thumbnail non-contract-cup'".html_safe : "class='thumbnail'".html_safe %> >
                              <div class="caption">
                                <h5><div class="cup_number_label"><%= index + 1 %></div><%= value.ref1 ? "#{value.ref1}" : "&nbsp;".html_safe %><br/> <%= value.ref2 ? "#{value.ref2}" : "&nbsp;".html_safe %><br/> <%= value.ref3 ? "#{value.ref3}" : "&nbsp;".html_safe %> </h5>
                                <ul id="cup_parts<%= index + 1 %>" data-id="<%= value.id %>">
                                  <%= raw get_parts(value).join('') %>
                                </ul>
                                <% if value.cup_parts.where(:commit_status => true, :status => true ).size > 0 && (!value.parts.first.nil? && value.check_in_contract_status("cup_parts")) %>
                                    <% checkbox_flag = session[:copy_cup_ids].include?(value.id) if session[:copy_cup_ids].present? %>
                                    <p><%= check_box_tag 'cup_ids[]', value.id, checkbox_flag, {:class => "copy_selected_cup_ids"} %></p>
                                <% else %>
                                    <p>&nbsp;</p>
                                <% end %>
                              </div>
                            </div>
                          </td>
                          <% index += 1 %>
                      <% end %>
                    </tr>
                  </table>
                </div>
            <% end %>
            <br />
            <!--</div>-->
        <% end %>
    <% end %>
    <%= image_seperator %>
    <% if check_status?(@copy_status) %>

        <%= hidden_field_tag :kit_id, @kit_copy.kit.id %>

        <%= hidden_field_tag :kit_type, @kit_copy.kit.kit_media_type.kit_type %>
        <% if session[:user_level] %>
            <% if session[:user_level] > "3" %>
                <div class="row">
                  <div class="col-sm-2">
                    <%= submit_tag 'Print Kit Template', class: "btn btn-primary" %>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <%= submit_tag 'Print Internal Label', class: "btn btn-primary", id: 'print_internal_labels' %>
                      </span>

                      <%= select_tag "internal_label_type", options_for_select([["Select Label Type", ""],["Standard Label", "label_1"] , ["Reference Only Label", "label_2"], ["PN / QTY / REF Landscape", "label_3"], ["PN / QTY / REF Portrait", "label_4"]], "Label Type 1"), class: 'form-control' %>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <%= submit_tag 'Print External Label', class: "btn btn-primary" %>
                  </div>
                  <div class="col-sm-2">
                    <%= link_to 'Back', :back , class: 'btn btn-default pull-right' %>
                  </div>
                </div>

                <% if @multi_media_kits %>
                    <div class="clear"></div>
                    <div class="row">
                      <%= hidden_field_tag :box_number, box_number%>
                      <%= hidden_field_tag :mmt_kit_id, params[:mmt_kit_id] %>
                      <div class="col-sm-2">
                        <%= submit_tag 'Print All Kit Template ', class: "btn btn-info" %>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group">
                                <span class="input-group-btn">
                                  <%= submit_tag 'Print All Internal Label', class: "btn btn-info", id: 'print_all_internal_labels' %>
                                  </span>
                          <%= select_tag "all_internal_label_type", options_for_select([["Select Label Type", ""],["Standard Label", "label_1"] , ["Reference Only Label", "label_2"], ["PN / QTY / REF Landscape", "label_3"], ["PN / QTY / REF Portrait", "label_4"]], "Label Type 1"), class: 'form-control' %>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <%= submit_tag 'Print All External Label', class: "btn btn-info" %>
                      </div>
                    </div>
                <%end%>
            <%end%>
        <%end%>

    <% end %>
<% end %>
<%= image_seperator %>
<!-- FORM FOR ADDING RFID -->
<%= form_tag manage_rfid_kit_copies_path do  %>
    <div id="manage_rfid_serial_number" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="body_header">Manage RFID Serial Number</h2>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4"><%= label_tag "RFID Serial Number" %></div>
                  <div class="col-sm-8"><%= text_field_tag :rfid_serial_number,params[:rfid_serial_number] || @kit_copy[:rfid_number], :class =>"form-control" %></div>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'kit_copy_id', @kit_copy[:id] %>
          <div class="modal-footer">
            <a class="btn btn-default close-popup" data-dismiss="modal" aria-hidden="true">Close</a>
            <%= submit_tag 'Save changes', class: 'btn btn-primary', id: 'add_rfid' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= render 'layouts/kitting/kit_config_layout' %>