<p class="body_header"><%= t('title',:scope => "certs.index_stock_certs")%></p>
<%= image_seperator %>
<p><%= t('_desc',:scope => "certs.index_stock_certs").html_safe%></p>
<%= image_seperator %>
<%= form_tag search_certs_path, :method => 'post', id: "stock_search_form",class: "form-horizontal" do %>
  <div class="form-group">
    <%= label_tag t('stock_transfer',:scope => "certs.index_stock_certs"), nil, class: "col-sm-3"%>
    <div class="col-sm-4">
      <%= text_field_tag :stock_transfer, params[:stock_transfer].try(:strip).try(:upcase),
                         class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag t('control_number',:scope => "certs.index"), nil,class: "col-sm-3" %>
    <div class="col-sm-4">
      <%= text_field_tag :control_number_stock, params[:control_number_stock].try(:strip).try(:upcase),
                         class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <%= submit_tag t('Search',:scope => "floor_views.index"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<%= image_seperator %>
<% if @response_stock_certs %>
  <% if @response_stock_certs["errMsg"] != "" %>
    <div class="row">
      <div class="col-sm-12">
        <span class="alert_msg"><%= flash_notice.html_safe %></span>
      </div>
    </div>
  <% else %>
    <table class="table tablesorter">
      <thead>
      <tr>
        <th><%= t('item',:scope => "rma")%></th>
        <th><%= t('control_number',:scope => "certs.index")%></th>
        <th><%= t('part_num',:scope => "open_orders.invoice_display")%></th>
        <th><%= t('Description',:scope => "floor_views._floor_view_search")%></th>
        <th><%= t('ACTION',:scope => "panstock_requests._edit_panstock")%></th>
      </tr>
      </thead>
      <% (0...@response_stock_certs["images"].length).each do |index| %>
        <% get_image_details(@response_stock_certs["images"].join(",").split(","), @response_stock_certs["imagesFullPath"].join(",").split(","))%>
        <%= form_tag view_certs_certs_path, :target =>'_blank' do %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= @response_stock_certs["controlNo"][index] %></td>
            <td><%= @response_stock_certs["partNo"][index] %></td>
            <td><%= @response_stock_certs["desc"][index] %></td>
            <%= hidden_field_tag 'control_number', @response_stock_certs["controlNo"][index] %>
            <%= hidden_field_tag 'images', @images_array %>
            <td><%= submit_tag t('view_cert',:scope => "certs.index"), class: "btn btn-info" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <span class="alert_msg"><%= flash[:notice] %></span>
    </div>
  </div>
<% end %>

