<table class="tbl_invoice_main">
  <tr>
    <td colspan="4">
      <h2 class="body_header text-left">Invoice #: HNL511</h2>
    </td>
    <td colspan="4">
      <div id="printOption" class="td_align_right">
        <strong>
          <%= link_to image_tag('/assets/ico_print.gif') + " Click to print this page",
                      '#',:style => "color:black;",
                      :onclick => "document.getElementById('printOption').style.visibility = 'hidden';window.print();return false;" %>
        </strong>
      </div>
    </td>
  </tr>
</table>
<%= image_seperator %>

<table class="table tablesorter">
  <thead>
  <th width="50%" class="filter-false">Invoice Bill-to</th>
  <th width="50%" class="filter-false">Invoice Ship-to</th>
  </thead>
  <tr>
    <td>BOING A&M ST, LOUIS</td>
    <td>THE BOING COMPANY</td>
  </tr>
  <tr>
    <td>ATTN: MAC ST JIT CONTRACT</td>
    <td>8181 AVIATION</td>
  </tr>
  <tr>
    <td>PO BOX 66742, A/P 277222121</td>
    <td>BERKELEY, MO 63134</td>
  </tr>
  <tr>
    <td>SAINT LOUIS, MO 63166</td>
    <td></td>
  </tr>
  <tr>
    <td>USA</td>
    <td></td>
  </tr>
</table>

<%= image_seperator %>

<table class="table tablesorter">
  <thead>
  <th width="50%" class="filter-false">RMA Request Contact</th>
  <th width="50%" class="filter-false">RMA Request Information</th>
  </thead>
</table>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-2">Name</div>
      <div class="col-sm-4"><b><%= text_field_tag :name, params[:name], :class => "input-medium", :required => true %></b></div>
      <div class="col-sm-2">Reason Code</div>
      <div class="col-sm-4"><%= text_field_tag :code1, params[:code1], :class => "input-mini", :required => true %>
        <%= text_field_tag :code2, params[:code2], :class => "input-mini", :required => true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">Email</div>
      <div class="col-sm-4"><%= text_field_tag :invoice_number, params[:invoice_number], :class => "input-medium" %></div>
      <div class="col-sm-2">Reason Description</div>
      <div class="col-sm-4"><%= text_area_tag :reason, params[:reason] %></div>
    </div>
    <div class="row">
      <div class="col-sm-2">Phone</div>
      <div class="col-sm-4"><%= text_field_tag :phone, params[:phone], :class => "input-medium" %></div>
      <div class="col-sm-2">Fax</div>
      <div class="col-sm-4"><%= text_field_tag :fax, params[:fax], :class => "input-medium" %></div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-info glyphicon glyphicon-picture" onclick="$('#upload_img').modal();">Upload Image</button>
      </div>
    </div>
  </div>
</div>

<%= image_seperator %>

<table class="table tablesorter">
  <thead>
  <th class="filter-false">PO#</th>
  <th class="filter-false">Invoice Date</th>
  <th class="filter-false">Ship Via</th>
  <th class="filter-false">Terms</th>
  <th class="filter-false">FOB</th>
  <th style="display:none;" class="filter-false"></th>
  <th style="display:none;" class="filter-false"></th>
  <th style="display:none;" class="filter-false"></th>
  </thead>
  <tr>
    <td>557400</td>
    <td>10/04/2013</td>
    <td>OUR DELIVERY</td>
    <td>NET 30</td>
    <td>FOB-EARTH CITY</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<table class="table tablesorter">
  <thead>
  <th class="filter-false">S/O#</th>
  <th class="filter-false">Ship Date</th>
  <th class="filter-false">Entry Date</th>
  <th class="filter-false">Salesperson</th>
  <th style="display:none;" class="filter-false"></th>
  <th style="display:none;" class="filter-false"></th>
  <th style="display:none;" class="filter-false"></th>
  <th style="display:none;" class="filter-false"></th>
  <th style="display:none;" class="filter-false"></th>
  </thead>
  <tr>
    <td>8PL8T8</td>
    <td>10/04/2013</td>
    <td>10/04/2013</td>
    <td>EHMAN, TINA</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<table class="table tablesorter">
  <thead>
  <th class="filter-false">Item#</th>
  <th class="filter-false">Shipped</th>
  <th class="filter-false">Part Number</th>
  <th class="filter-false">Price</th>
  <th class="filter-false">U/M</th>
  <th class="filter-false">Extension</th>
  <th class="filter-false">RMA Qty</th>
  <th class="filter-false">Select RMA</th>
  </thead>
  <tr>
    <td>1</td>
    <td>5</td>
    <td>3M4667N12A5F8</td>
    <td>30.500</td>
    <td>EA</td>
    <td>152.50</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>CUT GANG CHANNEL</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>CTRL#: 2012108848</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>LOT=: C7695</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>LOT QTY: 5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<span class="col-sm-12 text-center"><%= submit_tag "Submit RMA Request", class: "btn btn-info" %></span>

<%= image_seperator %>

<div class="row"><div class="col-sm-12 rma_title">Summary Information</div></div>
<table class="table tablesorter">
  <tr>
    <td>FREIGHT ACCT = 0</td>
    <td><span class="rma-text-right">SUBTOTAL: 152.50</span></td>
  </tr>
  <tr>
    <td>TEL = </td>
    <td><span class="rma-text-right">TOTAL: 152.50USD</span></td>
  </tr>
  <tr>
    <td>DIMENSIONS: 0XX</td>
    <td><span class="rma-text-right">U.S. CURRENCY</span></td>
  </tr>
  <tr>
    <td>DIMENSIONS: XX</td>
    <td></td>
  </tr>
  <tr>
    <td>Project=: 0</td>
    <td></td>
  </tr>
</table>
<div class="row"><div class="col-sm-12 rma_title">End of Invoice</div></div>

<%= render :partial => 'upload_image' %>