<h2 class="body_header">Kit Filling History</h2>
<%= image_seperator %>
<% if @versions.blank? %>
    <div class ="alert_msg"><h3><%= flash[:notice]%></h3></div>
<% else %>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <th>History Index</th>
        <th>Timeline</th>
        <th>Date</th>
        </thead>
        <% count = 1 %>
        <% @versions.each_with_index do |version, index| %>
            <tr>
              <% if version.event =="create" && version.item_type == "Kitting::KitFilling" %>
                  <td><%= count %></td>
                  <td>Filling started for Kit <strong><%= version.item.try(:kit_copy).try(:kit).kit_number %> </strong> </td>
                  <td><%= version.created_at %></td>
                  <% count = count + 1 %>
              <% elsif version.event =="update" && version.item_type == "Kitting::KitFillingDetail" && version.reify.try(:filled_quantity) != "0" %>
                  <td><%= count %></td>
                  <td> Cup Part <strong><%= version.reify.try(:cup_part).part.part_number %></strong> Updated with Quantity <%= version.reify.try(:filled_quantity) %> in <strong> Cup <%= get_cup_number version.item.try(:cup_part) %></strong>
                  <td><%= version.created_at %></td>
                  <% count = count + 1 %>
              <% elsif version.event =="update" && version.item_type == "Kitting::KitFilling"	%>
                  <td> <%= count %></td>
                  <td><strong><%= version.item.try(:kit_copy).try(:kit).kit_number %></strong> Updated with <strong> <%= version.item.try(:kit_copy).try(:location).try(:name) %> </strong>and Fill state <strong> <%= get_filled_status_name version.item.filled_state %></strong> and shipping status <strong> <%= get_flag_status version.item.try(:flag) %></strong> </td>
                  <% count = count + 1 %>
                  <td><%= version.created_at %></td>
              <% end %>
        <% end %>
        </tr>
      </table>
    </div>
<% end %>		