<% @my_order_array = EngineeringCheck.get_order_ship_date_list @shipped_orders_history_response["ordDateList"],@shipped_orders_history_response["totOrdQtyList"] %>
<% @my_ship_array = EngineeringCheck.get_order_ship_date_list @shipped_orders_history_response["shipDateList"], @shipped_orders_history_response["totShipQtyList"] %>
<% @my_date_KB7 = EngineeringCheck.get_dates  %>
<% @my_fc_list_data = EngineeringCheck.get_forecast_with_archive(@cust_forecast_archive_response["qtyList"], @cust_forecast_archive_response["periods"], @cust_forecast_response["forecastQtys"], @cust_forecast_response["periods"], @my_date_KB7) %>
<div class="table-responsive">
  <table id="table" class="table-hover">
    <thead>
    <th><%= t("date_m_y", scope:"engineering_check._plot_date") %></th>
    <% for i in 0..35 %>
        <th><%= (Date.today + (-12 + i).month).strftime("%_m/%y") %></th>
    <% end %>
    </thead>
    <tr>
      <td><%= t("open_orders", scope:"engineering_check._plot_date") %></td>
      <% @my_date_KB7.each_index do |index| %>
          <td><%= @my_order_array[index] %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t("shipped", scope:"open_orders.invoice_display") %></td>
      <% @my_date_KB7.each_index do |index| %>
          <td><%= @my_ship_array[index] %></td>
      <% end %>
    </tr>
    <% if session[:user_level] > "2" %>
        <tr>
          <td><%= t("forecast", scope:"engineering_check._plot_date") %></td>
          <% @my_date_KB7.each_index do |index| %>
              <td><%= @my_fc_list_data[index] %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>