<% if @cardex_kit.kit_media_type.kit_type == "configurable" %>
    <%= @cardex_kit.kit_media_type.name == "Large Removable Cup TB" ? "<div class='kit_container' style='position:relative;'>".html_safe : @cardex_kit.kit_media_type.name == "Small Configurable TB" ? "<div class='gridster small_orange_kit' style='position:relative;'>".html_safe : "<div class=\"gridster_container\">".html_safe %>
    <% box_no  =  0 %>
    <% JSON[@cardex_kit.kit_html_layout].each_with_index do |kit_html_layout,index| %>
        <% unless kit_html_layout.empty? %>
            <div <%= add_class_and_id_to_print_template(@cardex_kit.kit_media_type.name,index) %> >
              <% if index == 0  %>
                  <div align="right">
                    <span id="add_widget" data-group="<%= index + 1 %>" class="btn btn-info">Add Cup</span>
                  </div>
              <% end %>
              <ul <%= @cardex_kit.kit_media_type.name == "Small Removable Cup TB" ? "class='small-template'".html_safe : ""%>>
                <% kit_html_layout.each_with_index do |cupdata,i| %>
                    <% li = cupdata[1].split(",") %>
                    <li data-row="<%= li[0] %>" data-col="<%= li[1] %>" data-sizex="<%= li[2] %>" data-sizey="<%=li[3] %>">
                      <span class="box-no"><%= box_no = index == 0 ? i + 1 : box_no + 1 %></span>
                      <% if li[5] %>
                          <% parts = li[5].split("#") %>
                          <div class="block_area">
                            <% parts.each do |part| %>
                                <p><%= part%></p>
                            <% end %>
                          </div>
                      <% end %>
                    </li>
                <% end %>
                <% box_no = box_no %>
              </ul>
              <% if index != 0 && @cardex_kit.kit_media_type.name != "Small Configurable TB" %>
                  <br />
                  <div align="left">
                    <span id="add_widget" data-group="<%= index + 1 %>" class="btn btn-info ">Add cup to <%= index == 1 ? 'bottom left' : 'bottom right' %> |  <span class="glyphicon glyphicon-arrow-up"></span></span>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
    </div>
<% else %>
    <% index = 0 %>
    <% @cups = get_cups_layout_for_cardex_kit JSON[@cardex_kit.kit_html_layout], @cardex_kit.kit_media_type.compartment_layout %>
    <% @cups.each_with_index do |cup_count,row| %>
        <div class="cup_table">
          <table class="thumbnails cups">
            <tr>
              <% cup_count.each_with_index do |cup_data,col| %>
                  <% li = cup_data[1].split(",") %>
                  <td>
                    <div class='thumbnail'>
                      <div class="caption">
                        <ul class="cup_parts">
                          <li data-row = "<%= li[0] %>" data-col = "<%= li[1] %>">
                            <span class="box-no"><%= box_no = index == 0 ? index + 1 : box_no + 1 %></span>
                            <% if li[2] %>
                                <% parts = li[2].split("#") %>
                                <div class="block_area">
                                  <% parts.each do |part| %>
                                      <p><%= part%></p>
                                  <% end %>
                                </div>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                  <% index += 1 %>
              <% end %>
            </tr>
          </table>
        </div>
    <% end %>
<% end %>

<script type='text/javascript'>
    <%if @cardex_kit.kit_media_type.name == "Small Removable Cup TB" %>
    <%= render(:partial => 'small_removable_cup_tb', :handlers => [:erb], :formats => [:js]) %>
    <% elsif @cardex_kit.kit_media_type.name == "Large Removable Cup TB"  %>
    <%= render(:partial => 'large_removable_cup_tb', :handlers => [:erb], :formats => [:js]) %>
    <% elsif @cardex_kit.kit_media_type.name == "Small Configurable TB"  %>
    <%= render(:partial => 'c_small_config_tb', :handlers => [:erb], :formats => [:js]) %>
    <% end %>
</script>
<%#= javascript_include_tag "cardex_kits" %>