<h2 class="body_header">Crib Part History</h2>
<%= render 'search' %>
<span class="text-center">
<%= render 'layouts/message_display' %>
</span>
<% if @order_part_details && @order_part_details.size > 0 %>
    <div class="row">
      <div class="col-lg-9">
        <p><%= page_entries_info @order_part_details %></p>
      </div>
    </div>
    <br>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <th>Part Number </th>
        <th>Quantity</th>
        <th>Queue</th>
        <th>Requestor</th>
        <th>Requestor Date</th>
        <th>status</th>
        </thead>
        <% @order_part_details.each do |part| %>
            <tr>
              <td><%= part.part_number %></td>
              <td><%= part.quantity %></td>
              <td><%= part.location.try(:name) %></td>
              <td><%= part.order.created_by %></td>
              <td><%= part.order.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= get_part_status(part) %></td>
            </tr>
        <% end %>
      </table>
    </div>

    <%= will_paginate @order_part_details %>


<% else %>
    <p class="text-primary">No records found</p>
<% end %>