<%= render 'search' %>
<% if @binCenterParts_response["errMsg"].blank? && !@binCenterParts_response["bcpartList"].blank? %>
    <div class="row">
      <div class="col-sm-2"><%= t("Bin_Location",scope: "floor_views._location_search") %></div>
      <div class="col-sm-7"><span><strong class="body_text_subhead"><%= params[:qc_laboratory_id] %></strong>
        <%= "["+ @binCenterParts_response["custNo"] +"]" %></span></div>
      <div class="col-sm-3">
        <%= link_to image_tag("excel_icon_download.png", :height => "40", :width => "40",:class => "img-responsive", :border => 0, :title => t("view_or_download", scope:"engineering_check.view_location_parts")), qc_laboratory_download_excel_path(params[:qc_laboratory_id],format: 'xls')  %>
      </div>
    </div>
    <%= image_seperator %>
    <p>
      <small><%= "#{t('bin_paginate',:start_page => params[:page].to_i * 100 - 99, :end_page => (params[:page].to_i * 100 > @total_records ?  @total_records : params[:page].to_i * 100 ),:total_records => @total_records , :first_page => params[:page],:last_page =>  @total_page,:scope => "bin_line_station.search_by_location")}".html_safe %></small>
    </p>
    <div class="row">
      <div class="col-sm-9 body_text_subhead"><%= t("location_detail",scope: "engineering_check.view_location_parts") %></div>
      <div class="col-sm-3"><%#=  link_to t("Add_Part_to_Location",scope: "bin_line_station.search_by_location"),new_part_to_location_bin_line_station_index_path(actions: 'N',location: params[:id]) %></div>
    </div>
    <div class="table_title"> <%= t("PARTS_AT_LOCATION",scope: "bin_line_station.search_by_location") %> <%= params[:qc_laboratory_id] %></div>
    <div class="table-responsive">
      <table class="table tablesorter">
        <thead>
        <th><%= t("PART_NUMBER", scope:"floor_views._location_search") %></th>
        <th><%= t("Scan_Code", scope:"floor_views._location_search") %></th>
        <th><%= t("Line_Station", scope:"floor_views._location_search") %></th>
        <th><%= t("amount_quantity", scope:"floor_views._location_search") %></th>
        <th><%= t("PACK_QTY", scope:"floor_views._location_search") %></th>
        <th><%= t("UM", scope:"floor_views._location_search") %></th>
        <th><%= t("bin", scope:"floor_views._location_search") %></th>
        <th><%= t("on-hand", scope:"floor_views._location_search") %></th>
        </thead>
        <% @binCenterParts_response["ref"].each_index do |index| %>
            <tr>
              <td><%= link_to @binCenterParts_response["ref"][index], qc_laboratory_fuzzy_search_path(Rack::Utils.escape(@binCenterParts_response["ref"][index]), search_type: 'PartNo'),title: t("click_for_info",scope: "engineering_check.view_location_parts") %></td>
              <td><%= @binCenterParts_response["scancode"][index] %></td>
              <!--<td><%= @binCenterParts_response["whsdesc"][index] %></td>-->
              <td><%= @binCenterParts_response["whsdesc"][index] %></td>
              <% if @binCenterParts_response["amcQty"][index].to_i.is_a?(Numeric) %>
                  <td><%= @binCenterParts_response["amcQty"][index] %></td>
              <% else %>
                  <td><%= '-' %></td>
              <% end %>

              <% if @binCenterParts_response["packQty"].length > 0 %>
                  <td><%= @binCenterParts_response["packQty"][index] %></td>
              <% else %>
                  <td><%= '-' %></td>
              <% end %>

              <td><%= @binCenterParts_response["um"][index] %></td>
              <!--<td><%= @binCenterParts_response["bin"][index] %></td>-->
              <td><%= @binCenterParts_response["bin"][index] %></td>
              <td class="center_align"><%= @binCenterParts_response["qtyOnHand"][index] %></td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="pager">
      <% if @total_records >= 1 %>
          <%if (params[:page].to_i > 1) %>
              <% @prev_page = params[:page].to_i - 1 %>
              <%= link_to  image_tag("prev.png",:alt => "previous",title: "Previous"),
                           qc_laboratory_get_bin_center_parts_path(params[:qc_laboratory_id],page: @prev_page), class: "prev" %>
          <%else%>
              <%= image_tag("prev.png",alt: "previous",title: "Previous", class: "disabled") %>
          <%end%>
          <% (1..@total_page).each do |i| %>
              <%if i != params[:page].to_i %>
                  <%= link_to "#{i}",  qc_laboratory_get_bin_center_parts_path(params[:qc_laboratory_id],page: i ),class: "page"%>
              <%else%>
                  <span class="current"><%= i %></span>
              <%end%>
          <%end%>
          <% if (params[:page].to_i < @total_page) %>
              <% @next_page = params[:page].to_i + 1 %>
              <%= link_to image_tag("next.png",alt: "next",title: "Next"),
                          qc_laboratory_get_bin_center_parts_path(params[:qc_laboratory_id], page: @next_page), class: "next"%>
          <%else%>
              <%= image_tag("next.png",:alt => "next",title: "Next", class: "disabled") %>
          <%end%>
      <%end%>
    </div>
<% else %>
    <div><%= t("no_records_found",scope: "engineering_check.view_location_parts") %></div>
<% end %>