<% if params[:password_lock] && params[:password_lock] == "N" || session[:password_lock] && session[:password_lock] == "N" %>
    <div class="row">
      <%= session[:user_name] ? '' : '<br>'.html_safe %>
      <h2 class="body_header"><%= t("title", scope:"user_session") %></h2>
      <%= image_seperator %>
      <%= render "layouts/message_display"%>
      <div class="col-sm-6">
        <%= form_tag reset_password_path, :method => :post, id: 'reset_password' , :autocomplete => "off",role: "form" do %>
            <div class="form-group">
              <label for="current_password" class="control-label"><%= t("user_name", scope:"user_session") %></label>
              <div class="controls">
                <% if session[:user_name] %>
                    <%= text_field_tag "user_name", session[:user_name], readonly: true, :class => "form-control" %>
                <% else %>
                    <%= text_field_tag "user_name", nil, :class => "form-control",:placeholder => "Enter Username" %>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <label for="current_password" class="control-label"><%= t("current_password", scope:"user_session")  %></label>
              <div class="controls">
                <%= password_field_tag "current_password", nil, class: 'password',:class => "form-control",:placeholder => "Enter Current Password" %>
              </div>
            </div>
            <div class="form-group">
              <label for="new_password" class="control-label"><%= t("new_password", scope:"user_session")  %></label>
              <div class="controls">
                <%= password_field_tag "new_password", nil, class: 'password', :class => "form-control",:placeholder => "Enter New Password" %>
              </div>
            </div>
            <div class="form-group">
              <label for="confirm_password" class="control-label"><%= t("confirm_password", scope:"user_session")  %></label>
              <div class="controls">
                <%= password_field_tag "confirm_password", nil, class: 'password', :class => "form-control",:placeholder => "Enter Confirm Password" %>
                <span id="confirm_password_result"></span>
              </div>
            </div>
            <div class="form-group">
              <%= submit_tag  t("reset_btn", scope:"user_session"), class: "btn btn-primary", id: "reset_password_save"   %>
            </div>
        <% end %>
      </div>
    </div>
<% else %>
    <br>
    <p class="alert alert-danger">"You are not allowed to change the password."</p>
<% end %>