<h2 class="body_header">Create Kit</h2>
<%= image_seperator %>
<p>Please Enter Kit Number to view details for that Kit. If you do not know the Kit Number,
   you can search by Part Number. Selecting a Kit status is optional.</p>
<%= image_seperator %>
<%= render 'layouts/message_display' %>
<p class="body_text_subhead">Kit Information</p>

  <%= form_tag ({:controller=> 'kitting'}),class: 'form-horizontal'  do %>
    <div class="control-group">
      <%= label_tag 'Kit Number:',nil, :class => "control-label"%>
      <div class="controls inline">
        <%= text_field_tag :kit_number, params[:kit_number], class: "ch_check" ,required: "true" %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'Description:',nil, :class => "control-label"%>
      <div class="controls inline">
        <%= text_field_tag :kit_description, params[:kit_description] %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'Location:',nil, :class => "control-label"%>
      <div class="controls inline">
        <%= text_field_tag :kit_location, params[:kit_location] %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'Status :', nil, :class => "control-label" %>
      <div class="controls inline">
        <%= radio_button_tag :kit_status, "1" %>
        <%= label_tag :Active, nil, class: "radio inline"  %>
        <%= radio_button_tag :kit_status, "2", :checked => true %>
        <%= label_tag :Pending, nil, class: "radio inline"  %>
        <%= radio_button_tag :kit_status, "6" %>
        <%= label_tag :Inactive, nil, class: "radio inline"  %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'Kit Notes:',nil, :class => "control-label"%>
      <div class="controls inline">
        <%= text_area_tag "kit_Notes#{[params[:kit_Notes]]}",params[:kit_Notes], :rows => 2, :cols => '60%'%>
      </div>
    </div>
    <%= image_seperator %>
    <table id="table">
      <thead>
      <p class="body_text_subhead">Kit Parts</p>
        <th class ='small_text_box'>TRAY</th>
        <th>PART NUMBER</th>
        <th>QTY</th>
        <th>UM</th>
        <th>BIN NUMBER</th>
      </thead>
      <tbody>
        <% for i in 0..9 %>
          <tr>
            <td><%= text_field_tag "kit_tray#{[i]}", i + 1, :class =>'kit_tray input-mini' %></td>
            <td><%= text_field_tag "kit_part_number#{[i]}", nil ,class: 'part_number' %></td>
            <td><%= text_field_tag "kit_quantity#{[i]}", 1,:class =>'kit_quantity input-mini' %></td>
                <td><%= select_tag "um#{[i]}", options_for_select([["EA"],["LB"],["HU"],["TH"]]), :class => "col-sm-12" %></td>
            <td><%= text_field_tag "bin_number#{[i]}", nil, class: 'bin_number input-medium' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="fieldsset">
      <div><%= link_to 'Add More Parts', nil ,class:'add_rows_to_table' %></div>
      <div>
        <%= submit_tag "Create Kit" ,id:'validate_btn', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', kitting_index_path , class: 'btn' %>
      </div>
    </div>
  <% end %>